*.so
*.log
*~
*.o
Makefile.in
*.old
*.aux
*.bbl
*.pdf
*.blg
m4
aclocal.m4
build-aux
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
*.gz
missing
autom4te.cache
libtool
*.lo
*.la
*.dirstamp
Makefile
config.status
.deps
.libs
src/common/config*
src/common/stamp*
src/lib/libminni.pc
src/dfs/tools/cpFromDFS
src/dfs/tools/cpToDFS
sample.cfg
*cscope.out
*.swp
scripts
*.pb.cc
*.pb.h
